
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#container {
    width: 600px;
    height: 600px;
}

#input {
    width: 400px;
    height: 50px;
}

.fontTodo {
font-family: 'Roboto Mono', monospace;
text-align: center;
margin: 30px;
color: rgb(131, 100, 63);
}

.fontTask {
    font-family: 'Mynerve', cursive;
    text-align: center;
    margin: 30px;
    background-color: yellow;
    }

#count {
    margin: 15px;
    text-align: center;
    color: grey;
}

#input {
    border-radius: 20px;
    text-align: center;
    width: 370px;
    height: 50px;
    background-color: pink;
    
    
}

.post-it {
    padding: 10px;
    
}

#center {
    display: flex;
    justify-content: center;
}

.image-back {
    background-image: url(https://img.freepik.com/vector-premium/volver-al-diseno-escuela-marco-utiles-escolares-copyspace_108905-69.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;

}

.try {
    margin-top: 310px;
    margin-left: 350px ;
    width: 500px;
}